<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="ServiceContract.IInterface" 
                address="net.tcp://localhost:20040/IInterface" 
                binding="netTcpBinding" 
                contract="ServiceContract.IInterface" />
    </client>
  </system.serviceModel>
</configuration>